apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: k8s
servers: 1
agents: 0
image: rancher/k3s:v1.30.2-k3s1
token: justForTesting
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
options:
  k3s:
    extraArgs:
      - arg: --kube-apiserver-arg=service-account-issuer=${issuer_url}
        nodeFilters:
          - server:*
      - arg: --kube-apiserver-arg=service-account-jwks-uri=${ issuer_url }/openid/v1/jwks
        nodeFilters:
          - server:*
